Currently at the hackerspace:
<ul>
    {{range .UsersInside}}
        <li>{{.}}</li>
    {{end}}
</ul>

<p>
    There are <strong>{{ len .DHCPWorker.CurrentLeases }}</strong> devices in total on the network.
</p>
<ul>
    {{ range $name, $count := .DHCPWorker.CountByVendor }}
        {{ if eq $name "Espressif Inc." }}
           <li><strong>{{ $count }}</strong> ESP devices</li>
        {{ end }}
        {{ if eq $name "Raspberry Pi Foundation" }}
           <li><strong>{{ $count }}</strong> Raspberry Pis</li>
        {{ end }}
    {{ end }}
</ul>
